<div class="container-fluid p-3">
  <div class="d-flex justify-content-around row">
    <div class="p-2 align-self-start col-lg-4">
      <div class="card mx-3 p-3">
        <%= render partial: 'shared/user_status', locals: {user_check: @user} %>
      </div>
    </div>  
    <div class="p-2 col-lg-7">
      <h3><%= @title %></h3>
        <% if @users.any? %>
          <%= render partial: 'shared/user_card', locals: {user_check: @user} %>
        <% else %>
          <%= @title %> "You don't have any"
        <% end %>
      <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>
    </div>
  </div>
</div>
