<div class="d-flex justify-content-center my-3">
  <%= image_tag "/assets/workout.png", size: '24', class: "my-auto" %>
  <h4 class="my-auto">Add new schedule </h4>
</div>

<%= form_for(@new_record, url:main_path) do |f| %>
  <div class="form-group justify-content-around">
    <%= f.hidden_field :user_id %>
          
    <div class="form-group col">
      <%= f.date_field :start_time, class: 'form-control', placeholder: "Start_time"  %>
    </div>

    <div class="form-group col">
      <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
    </div>

    <div class="form-group col">
      <%= f.text_area :description, class: 'form-control', placeholder: "Description"  %>
    </div>

    <div class="actions col">
      <%= f.submit "Add", class: "btn btn-info form-control" %>
    </div>
  </div>
<% end %>