<div class="card mx-auto my-4 p-3">
  <div class="mb-3">
    <span class="badge badge-info"><%= record.start_time %></span>
  </div>
  <div class="card-columns mb-2">
    <%= image_tag record.user.image.thumb.url, class: "rounded-circle", size: "48" %>
    <a id="modal-open-<%= record.id %>" class="button-link align-middle ml-2" style="font-size: 24px"><%= record.user.name %></a>
    <div id="<%= record.id %>" class="modal-content fixed-top">
      <%= render partial: 'shared/user_status', locals: {user_check: record.user} %>
      <p class="text-right"><a id="modal-close" class="button-link">exit</a></p>
    </div>
  </div>
  <div class="mb-3">
    <h4 class="card-title">
      <% if record.user == current_user %>
        <%= link_to record.title, events_path(start_time: record.start_time) %>
      <% else %>
        <p><%= record.title %></p>
      <% end %>
    </h4>
    <p class="card-text"><%= record.description %></p>
  </div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Set</th>
      <th>Rep</th>
      <th>Weight</th>
      <th>Vol</th>
    </tr>
    <% record.workout.each do |workout| %>
    <tr>
      <td><%= workout.mywork.name %></td>
      <td><%= workout.set %></td>
      <td><%= workout.rep %></td>
      <td><%= workout.weight %></td>
      <td><%= workout.vol %></td>
    </tr>
    <% end %>
  </table>
</div>