<div class="justify-content-center p-3">
  <div class="p-2 mx-auto col-lg-7">
    <%= render partial: 'shared/record_card', locals:{record: @record} %>

    <div>
      <%= form_for(:workout, url:events_path) do |f| %>
        <div class="input-group">
          <%= f.hidden_field :record_id, value: @record.id %>

          <%= f.select :mywork_id, options_from_collection_for_select(@myworks, :id, :name), {}, {class: 'custom-select'} %>
          <%= f.text_field :set, class: 'form-control', placeholder: "Set", required: true %>
          <%= f.text_field :rep, class: 'form-control', placeholder: "Rep", required: true %>
          <%= f.text_field :weight, class: 'form-control', placeholder: "Weight", required: true %>

          <div class="input-group-append">
            <%= f.submit "レコードを追加", class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
      <%= link_to " 実施したトレーニングが一覧にいなかったら?", myworks_path %>
    </div>
  </div>
</div>