<p>event list</p>


<%= @record.title %>
<%= @record.description %>
<%= @record.start_time %>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Set</td>
    <td>Rep</td>
    <td>Weight</td>
    <td>Vol</td>
    <td></td>
  </tr>
  <% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.name %></td>
    <td><%= workout.set %></td>
    <td><%= workout.rep %></td>
    <td><%= workout.weight %></td>
    <td><%= workout.vol %></td>
    <td>
      <%= link_to "delete", events_path(id: workout.id), method: :delete, class: "btn btn-info" %>
    </td>
  </tr>
  <% end %>
</table>

<%= form_for(@new_workout, url:events_path) do |f| %>
  <div class="form-group row">
    <%= f.hidden_field :record_id %>
    <div class="form-group col">
      <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
    </div>

    <div class="form-group col">
      <%= f.text_field :set, class: 'form-control', placeholder: "Set"  %>
    </div>
    
    <div class="form-group col">
      <%= f.text_field :rep, class: 'form-control', placeholder: "Rep"  %>
    </div>

    <div class="form-group col">
      <%= f.text_field :weight, class: 'form-control', placeholder: "Weight"  %>
    </div>

    <div class="actions col">
      <%= f.submit "Add", class: "btn btn-info" %>
    </div>
  </div>
<% end %>
