<div class="container-fluid p-3">
  <div class="row">
    <div class="p-2 col-lg-4">
      <%= render 'shared/user_status' %>
      <%= render 'shared/new_schedule' %>
    </div>
    <div class="p-2 col-lg-8">
      <%= form_tag(users_list_path, method: "get", class: "input-group mb-3") do %>
        <%= text_field_tag :search, '', class: 'form-control', placeholder: "ユーザーを検索", required:true  %>
        <div class="input-group-append">
          <%= submit_tag 'Search', name: nil, class:"btn btn-warning", style:"z-index:1" %> 
        </div>
      <% end %>
      <%= render partial: 'shared/record_card', collection: @records, as: :record %>
      <%= will_paginate @records, list_classes: %w(pagination justify-content-center) %>
    </div>
  </div>
</div>

<script>
<% @records.each do |record| %>
  $("#modal-open-<%= record.id %>").click(
    function(){
      $(this).blur() ;
      if($("#modal-overlay")[0]) return false ;	
      $("body").append('<div id="modal-overlay"></div>');
      $("#modal-overlay").fadeIn("slow");
      $('#<%= record.id %>').fadeIn("slow");
    }
  );
<% end %>

$("#modal-overlay,#modal-close").unbind().click(function(){
    $(".modal-content,#modal-overlay").fadeOut("slow",function(){
    $("#modal-overlay").remove();
  });
});

</script>