<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <%= link_to "Smaple app", "/", class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Test", "#", class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to "Chart", chart_path, class: "active nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SignOut", destroy_user_session_path, class: "active nav-link", method: :delete %>
        </li>
        <li class="nav-item">
          <%= link_to current_user.email, main_path, class: "active nav-link" %>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "SignIn", new_user_session_path, class: "active nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SignUp", new_user_registration_path, class: "active nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>