<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <%= link_to "Smaple app", "/", class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Test", "#", class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <button type="button" class="bg-dark nav-item nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <div class="dropdown-menu dropdown-menu-right py-1">
            <%= link_to "Main", main_path, class: "dropdown-item" %>
            <%= link_to "Chart", chart_path, class: "dropdown-item" %>
            <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider my-1"></div>
            <%= link_to "SignOut", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "SignIn", new_user_session_path, class: "active nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SignUp", new_user_registration_path, class: "active nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>