<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul>
      <li>test1</li>
      <li>test2</li>
      <li>test3</li>
      <li><button class="btn btn-primary" type="submit">Button</button></li>
      </ul>  
    </div>
    <%= yield %>
  </body>
</html>
